<section id="about" class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="img-block">
                        <img src="images/Manifest3.jpg" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-8 pt-6 col-md-12">
                    <div class="row justy-content-center">
                        <div class="col-lg-6 col-sm-6 col-md-6 mb-5">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                     <i class="ti-thumb-up"></i>
                                </div>
                                <h4 class="mb-2">Empowering Entrepreneurs</h4>
                                <p>We are dedicated to helping student entrepreneurs succeed by providing expert guidance and resources.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6 mb-5">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                   <i class="ti-cup"></i>
                                </div>
                                <h4 class="mb-2">Award-Winning Support</h4>
                                <p>Our team at Manifest has been recognized for our exceptional support of student startups, receiving awards for high customer satisfaction.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                    <i class="ti-wallet"></i>
                                </div>
                                <h4 class="mb-2">Connecting with Top Mentors</h4>
                                <p>We only connect student entrepreneurs with top mentors and advisors who have a proven track record in the industry.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                    <i class="ti-dashboard"></i>
                                </div>
                                <h4 class="mb-2">Unmatched Resources</h4>
                                <p>At Manifest, we provide student entrepreneurs with access to premium resources, including workshops, funding opportunities, and a network of successful entrepreneurs and investors.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>